{% extends 'index.html' %}
{% load static %}
{% block title %}| About Us{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row mx-2 mt-5">
        <div class="col-lg-6 col-12 ">
            <h5 class="text-center"><i>Abouts Us</i></h5>
            <hr>
            <p style="text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At optio eaque,
                tenetur nihil aspernatur enim debitis numquam temporibus facere voluptate blanditiis, eos aut distinctio
                perferendis voluptatibus quasi. Aliquam ea nulla in sint facere maxime hic quis inventore voluptatum
                delectus eveniet exercitationem, aliquid perspiciatis non quod totam corporis dignissimos tenetur?
                Quisquam tempora porro itaque qui, maiores, voluptates sunt provident aliquid explicabo officia
                obcaecati iste. Animi pariatur error ipsum at ea necessitatibus modi est? Itaque quam animi officia ex
                unde consequuntur provident quibusdam adipisci soluta ea facere sint, inventore corporis mollitia natus
                impedit qui! Odit quis non ipsam necessitatibus, dolor rerum, dolore aspernatur fugit tempora, hic
                tenetur at dicta! Consequatur impedit veniam, dignissimos reiciendis mollitia dolorum aliquid
                consequuntur optio velit aliquam id officiis quidem ex. Ipsam eveniet quidem exercitationem magni quia
                illo voluptatibus hic maiores non sint, deleniti totam earum quod! Repudiandae voluptatibus, architecto
                quisquam adipisci vitae cumque laudantium doloremque ut reiciendis veniam unde qui libero aliquid
                suscipit ipsam quasi. Quod modi quas iste quidem numquam repudiandae distinctio deleniti ullam nam ex
                delectus assumenda corporis accusantium iusto reprehenderit, veritatis hic qui quasi repellendus sit vel
                quo saepe? Doloribus, corrupti sapiente eveniet tenetur id, perferendis, molestias exercitationem
                expedita officiis tempore ut neque perspiciatis!
                reiciendis mollitia dolorum aliquid consequuntur optio velit aliquam id officiis quidem ex. Ipsam
                eveniet quidem exercitationem magni quia illo voluptatibus hic maiores non sint, deleniti totam earum
                quod! Repudiandae voluptatibus, architecto quisquam adipisci vitae cumque laudantium doloremque ut
                reiciendis veniam unde qui libero aliquid suscipit ipsam quasi. Quod modi quas iste quidem numquam
                repudiandae distinctio deleniti ullam nam ex delectus assumenda corporis accusantium iusto
                reprehenderit, veritatis hic qui quasi repellendus sit vel quo saepe? Doloribus, corrupti sapiente
                eveniet tenetur id, perferendis, molestias exercitationem expedita officiis tempore ut neque
                perspiciatis! End</p>
        </div>
        <div class="col-lg-6 col-12">
            <h5 class="text-center"><i>Our Team</i></h5>
            <img src="{% static 'images/img3.jpg'%}" height="90%" width="100%" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <img src="{% static 'images/img2.png'%}" height="100%" width="100%" alt="">
        </div>
        <div class="col-lg-4">
            <h4 class="text-center">Our Mission</h4>
            <hr>
            <br>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia
                ducimus incidunt obcaecati ab quisquam beatae, enim exercitationem omnis, soluta praesentium id aut odio
                facere molestias, dignissimos quam! Tempora sequi voluptate quibusdam, explicabo amet sed reprehenderit
                tempore ducimus et, praesentium pariatur distinctio exercitationem tenetur! Alias voluptatem sunt ipsam
                est dolor mollitia assumenda, dolores cum quisquam accusamus delectus! Natus mollitia accusamus minus.
                Nisi suscipit voluptates vitae, accusantium nam sapiente incidunt quibusdam reprehenderit delectus ex
                nesciunt, et tempore dolorum sed adipisci nulla, eveniet exercitationem obcaecati natus? Dolor
                voluptatibus in id blanditiis doloribus sequi molestias, repellendus necessitatibus tempora minus
                consectetur aspernaturptates vitae, accusantium nam sapiente incidunt quibusdam reprehenderit delectus
                ex nesciunt, et tempore dolorum sed adipisci nulla, eveniet exercitationem obcaecati natus? Dolor
                voluptatibus in id blanditiis doloribus sequi molestias, repellendus necessitatibus tempora minus
                consectetur aspernatur fu fugiat asperiores?</p>
        </div>
    </div>
</div>
{% endblock %}