{% extends 'index.html' %}
{% load static %}
{% block title %}home| AI{% endblock %}
{% block body %}
<div class="container-fluid">
    <h1 class="text-center text-light bg-secondary p-1">Artificial Intelligence</h1>
    <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, possimus. Ullam
        possimus eligendi quas, soluta fugit dignissimos laborum esse id, ipsam laboriosam quae rerum est aspernatur rem
        officia totam ad itaque error voluptatem aliquam. Iusto dolor cum facere a alias odit modi exercitationem ipsum,
        quos magnam quibusdam provident debitis laborum placeat numquam inventore quisquam sit totam nihil architecto
        fugiat tempore consequuntur! Atque architecto eveniet laudantium officiis. Dolorem possimus illum et facilis.
        Dolore, id soluta? Tenetur, magni unde, quod consectetur esse voluptates iure dolor eveniet ad assumenda ab enim
        tempore in amet reprehenderit tempora repellat similique, quisquam cumque nostrum! Iusto labore dolorum enim
        quasi eum fugiat, perferendis necessitatibus provident quia et aut reprehenderit, officiis autem! Iure quidem
        corporis aliquam iusto laboriosam nulla odit! Itaque aperiam dolor, dicta labore nemo aspernatur accusamus
        deleniti corporis consequatur, tempore dolores quos, iusto mollitia voluptatum. Porro quidem perspiciatis
        consectetur, similique voluptate doloremque sunt corrupti minima minus! Quas commodi sunt, labore delectus
        magnam harum? Tempore corporis magnam placeat vel architecto facilis id soluta, ut autem eum itaque aliquid
        animi atque fugiat culpa rerum incidunt possimus doloremque molestiae sint nihil. Dolores qui aliquam enim
        excepturi, commodi vel incidunt, non, provident optio asperiores neque expedita! Doloribus ipsam quae laborum
        voluptate magni a sunt omnis, earum animi hic? Corporis accusantium est blanditiis aliquam vero! Ad culpa
        aliquid, modi ab, veniam officia architecto dolore incidunt temporibus voluptatibus consequuntur est recusandae
        saepe nisi. Nobis quasi ipsam deleniti maxime iusto voluptatibus provident expedita amet dolorem, dolor
        praesentium velit non sed dolore delectus placeat soluta? Optio voluptates atque eum blanditiis animi magni,
        earum odit corrupti suscipit praesentium excepturi maxime voluptatem beatae nulla dolore voluptate, minima ipsa,
        ducimus fugit ut. Delectus maiores ex dignissimos reprehenderit labore? Consequuntur accusamus hic tempore
        soluta nostrum a omnis nisi pariatur aspernatur labore eveniet laudantium corporis tenetur, ratione, rem quod
        quis tempora, non reprehenderit? Nemo amet asperiores ea quaerat magnam minus doloremque distinctio. Eius
        nostrum consequatur dolorem repellat ea praesentium minima! Et magni, natus perferendis quo unde velit?
        Assumenda voluptas, nam commodi ea enim aliquid laudantium. Porro eum ipsam atque omnis laboriosam dolorum
        excepturi error dolorem, veniam minima enim dolor quo, dolores id exercitationem placeat. Laudantium quos
        delectus dolorum ratione maiores, quaerat ut impedit neque vel odio animi eaque, dolorem totam, id veritatis
        omnis illo. Incidunt, odit ullam! Maxime hic amet expedita soluta delectus laboriosam doloremque, quis
        voluptatem nesciunt nostrum esse consequatur cupiditate architecto eius placeat eveniet porro! Modi,
        repellendus.</p>
</div>
{% endblock %}